* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
}

section {
  position: relative;
  display: flex;
  height: 100vh;
}

.image-container {
  position: relative;
  flex: 1;
}

.image-container img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.image-text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.image-text h1 {
  font-size: 24px;
}

.image-text p {
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 150px;
  font-size: 25px;
  font-weight: bold;
}

.image-text h4 {
  font-size: 13px;
  margin-top: 700px;
  margin-right: 380px;
}

.content-box {
  flex: 1;
  display: flex;
  align-items: center;
}

.form-box {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

h4 {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-right: 5px;
}

h1 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
}

p {
  font-size: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
}

.sin-buton {
  background-color: silver;
  padding: 5px;
  color: #000000;
  border: none;
  border-radius: 150px;
  cursor: pointer;
  width: 50%;
  font-size: 10px;
  margin: 8px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.g-sign {
  background-color: rgb(95, 15, 149);
  padding: 5px;
  color: #ffffff;
  border: none;
  border-radius: 150px;
  cursor: pointer;
  width: 50%;
  font-size: 10px;
  margin: 8px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.input-box {
  margin-bottom: 0px;
  margin-left: 2px;
  font-size: 12px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}

input {
  width: 120%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 150px;
  background-color: silver;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-input {
  height: 15px;
  width: 20px;
  margin-right: 5px;
}

.checkbox-text {
  font-size: 10px;
  width: 300px;
}

button {
  padding: 12px;
  background-color: #160256;
  color: #fff;
  border: none;
  border-radius: 150px;
  cursor: pointer;
  width: 120%;
}

button:hover {
  background-color: #0056b3;
}

.login-link {
  color: #ae4cf5;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
}

.Already {
  font-size: 12px;
}
